<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
>
    <!-- transaction support-->
    <!-- PlatformTransactionMnager -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="paycenter_dataSource" />
    </bean>

    <!--配置一个CRUD的通用事务的配置-->
    <tx:advice id="crudAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!--service中的查询方法-->
            <tx:method name="select*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="addWithdraw*" read-only="true" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>

    <!-- enable transaction annotation support -->
    <tx:annotation-driven transaction-manager="txManager" />

</beans>
